<app-navbar></app-navbar>

<div *ngFor="let movie of movies; trackBy: trackByFn" class="product-card">
    <div class="badge">Hot</div>
    <div class="product-tumb">
        <img [src]="baseUrl + movie.image" alt="">
    </div>
    <div class="product-details">
        <span class="product-catagory">{{ movie.director }}</span>
        <h4><a href="">{{ movie.title }}</a></h4>
        <p>{{ movie.year }}</p>
        <div class="product-bottom-details">
            <div class="product-price"><small>{{ movie.title }}</small>{{ movie.title }}</div>
            <div class="product-links">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</div>
